server:
  port: ${port}
eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: ${serviceUrlDefaultZone:http://discovery:8761/eureka}
uaa:
  client:
    enabled: true
    id: ${clientId}
    secret: ${clientSecret:pass}
    scope: server
    access-token-uri: http://uaa:9999/oauth/token
    jwt:
      key:
        uri: http://uaa:9999/oauth/token_key
spring:
  rabbitmq:
    host: ${rabbitmqHost:rabbitmq}
    port: ${rabbitmqPort:5672}
    username: ${rabbitmqUsername:guest}
    password: ${rabbitmqPassword:guest}
