server:
  port: ${port}
uaa:
  client:
    enabled: true
    id: ${clientId}
    secret: ${clientSecret:pass}
    scope: server
    access-token-uri: ${accessTokenUri:http://gateway:8080/uaa/oauth/token}
    jwt:
      key:
        uri: ${accessKeyUri:http://gateway:8080/uaa/oauth/token_key}
spring:
  cloud:
    stream:
      default-binder: rabbit
  rabbitmq:
    host: ${rabbitmqHost:rabbitmq}
    port: ${rabbitmqPort:5672}
    username: ${rabbitmqUsername:guest}
    password: ${rabbitmqPassword:guest}
